* {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  width: 1100px;
  margin: auto;
  position: relative;
}

.logo a {
  font-size: 50px;
  font-weight: bold;
  float: left;
  font-family: courier;
  color: #88415a;
}

.menu {
  float: right;
}

nav {
  width: 100%;
  margin: auto;
  display: flex;
  line-height: 80px;
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  background: #fec460;
}

nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  color: #c95b39;
  font-weight: bold;
  text-align: center;
  padding: 0px 16px 0px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

section {
  margin: auto;
  display: flex;
}

.kolom {
  margin-top: 50px;
  margin-bottom: 50px;
}

.kolom .deskripsi {
  font-size: 20px;
  font-weight: bold;
  font-family: "comic sans ms";
  margin-bottom: 25px;
  margin-left: 100px;
  color: #88415a;
}

h2 {
  font-family: "comic sans ms";
  font-weight: 800;
  font-size: 55px;
  margin-bottom: 40px;
  margin-left: 100px;
  color: #c95b39;
  width: 100%;
  line-height: 50px;
}

h3 {
  font-family: "comic sans ms";
  font-weight: 800;
  font-size: 20px;
  margin-bottom: 70px;
  margin-left: 100px;
  color: black;
}

h4 {
  font-family: "comic sans ms";
  font-weight: 800;
  font-size: 15px;
  margin-bottom: 20px;
  margin-left: 200px;
  margin-right: 150px;
  color: white;
  background-color: #97d1ab;
}
